.container {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
    gap: 3px;
}

.containerSearch {
    display: flex;
    gap: 20px;
    margin-bottom: 37px;
}

.containerSearch input{
    background-color: white;
    border-radius: 15px;
    border: 2px solid #ECEEF0;
    padding: 19px 25px;
    width: 100%
}

.containerSearch button {
    background-color: #ECEEF0;
    border-radius: 15px;
    border: 0;
    padding: 19px 0;
    width: 150px;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.containerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 21px 0;
}

.control {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}

.control button {
    background-color: #ECEEF0;
    border: 0;
    border-radius: 15px;
    padding: 15px 20px; 
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.control button:hover, .containerSearch button:hover {
    background-color: #005229;
    color: white;
}

.listHeader, .listData, .listReaderData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 3px;
}

.listReaderHeader {
    display: grid;
    grid-template-columns: 2.02fr 1fr;
    text-align: center;
    gap: 3px;
    background-color: ;
}

.listReaderHead1, .listActReader  {
    justify-content: center;
    display: flex;
    background-color: #424242;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    margin: 0;
    align-items: center;
}

.listHeader h3 {
    background-color: #424242;
    font-weight: 500;
    border-radius: 7px;
    color: white;
    margin: 0;
    padding: 15px;
}

.listContainer, .listReader {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
}

.listReaderHead {
    display: flex;
    flex-direction: column;
}

.listReaderHead2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 3px;
}

.listJudul {
    background-color: #424242;
    border-radius: 4px;
    color: white;
    padding: 15px;
}

.listData p {
    background-color: #ECEEF0;
    padding: 15px;
    font-size: 15px;
    margin: 0;
    border-radius: 7px;
}

.listReaderData p {
    background-color: #ECEEF0;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    margin: 0;
}

.listAct {
    display: flex;
    background-color: #ECEEF0;
    border-radius: 7px;
}

.listReaderAct {
    display: flex;
    background-color: #ECEEF0;
    border-radius: 4px;
}

.listAction, .listReaderAction {
    margin: 0 auto;
    display: flex;
    gap: 15px;
    align-items: center;
}

.listAction img, .listReaderAction img {
    height: 30.5px;
    filter: grayscale(100%);
}

.listAction a, .listReaderAction a {
    height: 30.49px;
    cursor: pointer;
}