.overlayLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 127px;
}

.containerLogin {
    align-items: center;
    text-align: center;
    padding: 45px;
}

.containerLogin button {
    margin-top: 10px;
    width: 100%;
    background-color: #005229;
    border-radius: 12px;
    color: white;
    border: 0;
    padding: 20px;
    font-size: 18px;
}