.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    background-color: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1); 
}

.navbarLi {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 45px 20px 20px 20px;
}

.navbarLogo {
    display: flex;
    gap: 23px;
    margin-bottom: 40px;
}

.navbarLogo img {
    height: 45px;
    padding: 0 15px;
}

.navLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.navbarHeadline {
    color: #505050;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 5px;
    padding: 0px 15px;
}

.navbarLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbarMenu {
    display: flex;
    flex-direction: column;
    color: #505050;
    list-style: none;
    gap: 0px;
}

.navbarMenuContent {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    border-radius: 10px;
    gap: 10px;
}

.navbarMenuContent:hover img, .navbarLogout:hover img {
    filter: brightness(100); 
    transition: all .4s ease-in-out; 
}

.navbarMenuContent:hover, .navbarLogout:hover {
    background-color: #005229;
    transition: all .2s ease-in-out;
    color: white;
}

.navbarUsr {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
}

.navbarUserText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #505050;
}

.navbarUserText h4 {
    margin: 0;
    font-weight: 500;
}

.navbarUserText p {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
}

.navbarUsr img {
    width: 50px;
    height: 50px;
    border-radius: 200px;
}

.navbarLogout {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    border-radius: 10px;
    gap: 10px;
    list-style: none;
}
